html, body {
  margin: 0;
  padding: 0;

}
html {
  font-size: 10px;
  background: url("../images/index-background.jpg") fixed;
}

body {
  width: 70%;
  margin: 0 auto;
}


p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}



h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  font-size: 2.2rem;
}


p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

li {
  display:block;
  float:left;
}


nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  opacity: 0.8;
  height: 200px;
  background-color: moccasin;
  margin-bottom: 10px;
}

.box {
  display: flex;
}


.box > div {
  border: 5px double red;
  border-radius: 50px;
  flex: 1;
}
.box > div:hover {
  background-color: wheat;
  cursor: pointer;
}

div > ul {
  padding-left: 10px;
}
div > ul > label {
  margin: 10px 10px 10px -3px;
  display: block;
}



.nav-opts {
  display: inline;
}


input {
  font-size: 1.6rem;
  height: 32px;
}

.search-input {
  flex: 20;
}
input[type="search"] {
  width: 100%;
}

input[type="submit"] {
  /*flex: 1;*/
  width: 100%;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}


main {
  display: block;
}



article {
  flex: 10;
}

aside {
  opacity: 0.8;
  width: calc(100% - 10px);
  background-color: moccasin;
}


footer {
  margin-top: 10px;
}

figcaption {
  font: 30px "Times New Roman";
}


td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 1.2rem;
}

th {
  font-size: 1.6rem;
}

tr {
  border: solid sienna 2px;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

table > caption {
  border: solid black 2px;
  font-size: 3rem;
}


table { width: 100%; }